---
layout: page.njk
pagination:
  data: collections.blogMonthPages
  size: 1
  alias: monthData
override:tags: []
permalink: "/blog/{{ monthData.month | replace('-', '/') }}/index.html"
eleventyComputed:
  title: "Posts from {{ monthData.month | format_date({month: 'long', year: 'numeric'}) }}"
---
{% import "_posts.njk" as posts with context %}
{{ posts.list(monthData.posts, {style: "compact"}) }}
