---
layout: page.njk
pagination:
  data: collections.blogYearPages
  size: 1
  alias: yearData
override:tags: []
permalink: "/blog/{{ yearData.year }}/index.html"
eleventyComputed:
  title: "Posts from {{ yearData.year }}"
---
{% set year = yearData.year %}
{% include "_yearly.njk" %}

{% import "_posts.njk" as posts with context %}
{{ posts.list(yearData.posts, {style: "compact"}) }}
